Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  behavior: default
  layout: 'reach,diff,flags,files,footer'
  require_changes: false
  require_base: yes
  require_head: yes
  show_carryforward_flags: true

github_checks:
  annotations: true

coverage:
  precision: 2
  round: down
  range: '70.0...100.0'
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      default:
        target: 60% #overall project/ repo coverage
      api:
        target: 75%
        flags:
          - api
      common:
        target: 74%
        flags:
          - common
      web:
        target: 74%
        flags:
          - web

flags:
  api:
    paths: #note, accepts globs, not regexes
      - api/
    carryforward: true
  common:
    paths:
      - common/
    carryforward: true
  e2e:
    paths:
      - e2e/
    carryforward: true
  web:
    paths:
      - web/
    carryforward: true
    # If no Carryfoward flag specified in YAML, the
    # default configuration is false.

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - '**/node_modules/**'
  - '**/__snapshots__/**'
  - 'web/**/*.story.js'
  - 'web/**/*.stories.js'
  - 'web/**/*.test.js'
  - 'web/**/*.cy.js'
  - 'web/src/shared/**'
  - 'web/src/fixtures/**'
  - 'web/src/i18n/**'
  - 'web/src/lazy/**'
  - 'web/src/shared/**'
  - 'web/src/static/**'
  - 'web/src/file-loader.js'
  - 'web/src/app.dev.js'
  - 'web/src/app.js'
  - 'web/src/constants.js'
  - 'web/src/components/EnableCookies.js'
  - 'web/src/util/analytics.js'
  - 'web/src/util/oktaAuth.js'
  - 'api/**/*.test.js'
  - 'api/**/*.endpoint.js'
  - 'api/**/index.js'
  - 'api/**/shared.js'
  - 'api/**/migrations/**'
  - 'api/**/mongo-migrations/**'
  - 'api/**/openAPI.js'
  - 'api/**/schemas/**'
  - 'api/**/seeds/**'
  - 'api/**/test-data/*'
  - 'api/audit.js'
  - 'api/auth/mockedOktaAuth.js'
  - 'api/db/knex.js'
  - 'api/db/mongodb.js'
  - 'api/seeds/development/apds.js'
  - '_templates/**'
  - '.circleci/**'
  - '.github/**'
  - 'bin/**'
  - 'documentation/**'
  - 'owasp/**'
  - 'packer/**'
  - 'postman/**'
  - 'terraform/**'

updated cypress tests - hitech results of prev activities
  e2e/cypress/helpers/apd/results-of-previous-activities.js
Due: e2e

fix cypress test
  e2e/cypress/helpers/mmis/mmis-navigation.js
Due: e2e

updated cypress test
  e2e/cypress/page-objects/previous-activities-page.js
Due: e2e

updated cypress tests again
  e2e/cypress/page-objects/previous-activities-page.js
Due: e2e

Update KeyStatePersonnelReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.js
Due: web

even more cypress fixes
  e2e/cypress/page-objects/export-page.js
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTables.js
Due: e2e, web

more cypress fixes
  e2e/cypress/page-objects/export-page.js
  web/src/pages/apd/schedule-summary/ScheduleSummary.js
  web/src/pages/apd/schedule-summary/ScheduleSummaryReadOnly.js
Due: e2e, web

reverted some changes
  e2e/cypress/helpers/apd/results-of-previous-activities.js
Due: e2e

updated snapshots
  web/src/pages/apd/previous-activities/__snapshots__/HitechApdPreviousActivityTables.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/MmisApdPreviousActivityTables.test.js.snap
Due: none

updated backend tests
  .circleci/config.yml
  .github/workflows/storybook.yml
  api/Dockerfile
  api/api.brokentest.js
  api/api.test.js
  api/endpoint-tests/endpoint.sh
  api/package.json
  api/routes/apds/__snapshots__/patch.endpoint.js.snap
  api/routes/apds/__snapshots__/post.endpoint.js.snap
  api/routes/apds/files/__snapshots__/post.endpoint.js.snap
  api/routes/auth/activities/__snapshots__/get.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/delete.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/get.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/post.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/put.endpoint.js.snap
  api/routes/auth/certifications/files/__snapshots__/post.endpoint.js.snap
  api/routes/auth/roles/__snapshots__/get.endpoint.js.snap
  api/routes/auth/states/__snapshots__/get.endpoint.js.snap
  api/routes/docs/__snapshots__/get.endpoint.js.snap
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
  api/routes/roles/__snapshots__/get.endpoint.js.snap
  common/package.json
  package.json
  web/package.json
  yarn.lock
Due: api, common, web

cypress
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
Due: e2e

cypress change
  e2e/cypress/page-objects/previous-activities-page.js
Due: e2e

update cypress
  e2e/cypress/helpers/apd/activity-schedule-summary.js
Due: e2e

typo
  e2e/cypress/page-objects/previous-activities-page.js
Due: e2e

even more cypress fixes
  e2e/cypress/page-objects/previous-activities-page.js
Due: e2e

updated tests
  .circleci/config.yml
  api/env.test.js
  api/files/local.brokentest.js
  api/package.json
  common/package.json
  package.json
  web/jest.config.js
  web/package.json
  yarn.lock
Due: api, common, web

cleaning up tests
  .circleci/config.yml
  api/Dockerfile
  api/test-server-setup.sh
  docker-compose.endpoint-tests.yml
Due: api

design updates to schedule summary and combined activity costs
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
  web/src/pages/apd/schedule-summary/ScheduleSummary.js
  web/src/pages/apd/schedule-summary/__snapshots__/ScheduleSummary.test.js.snap
  web/src/styles/scss/tables.scss
Due: web

progress
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
Due: web

update jest version
  package.json
  yarn.lock
Due: none

update yaml test config
  .circleci/config.yml
Due: none

updated the auth on the submission endpoints; change patch to post
  api/routes/apds/submissions/get.js
  api/routes/apds/submissions/index.js
  api/routes/apds/submissions/openApi.js
  api/routes/apds/submissions/post.endpoint.js
  api/routes/apds/submissions/post.js
  api/routes/apds/submissions/post.test.js
Due: api

updated Activity Overview read-only for MMIS (#4582)
  api/knexfile.js
  api/migrations-template.js
  common/utils/constants.js
  e2e/cypress/fixtures/default-activity-template.json
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboardReadOnly.js
  web/src/pages/apd/activities/activities-dashboard/ActivityReadOnly.js
  web/src/pages/apd/activities/activities-dashboard/ActivityReadOnly.test.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.stories.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.test.js
Due: api, common, e2e, web

remove console.log
  web/src/pages/apd/proposed-budget/BudgetSummary.js
Due: web

running into problem with tables being synced
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
Due: web

Increasing resource class as a quick fix for potential build issue
  .circleci/config.yml
Due: none

add chromatic link heading
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Increasing resource class as a quick fix for potential build issue (#4594)
  .circleci/config.yml
Due: none

added yarn.lock back
  yarn.lock
Due: none

small changes
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

fixed table sync issue
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
  web/src/redux/selectors/apd.selectors.js
Due: web

updated key state personnel (#4587)
  e2e/cypress/helpers/apd/key-state-personnel.js
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.stories.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.test.js
Due: e2e, web

fixed frontend tests
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.test.js
  web/src/pages/apd/previous-activities/__snapshots__/HitechApdPreviousActivityTables.test.js.snap
  web/src/redux/selectors/apd.selectors.test.js
Due: none

Update ExportReadOnly.js
  web/src/pages/apd/export/ExportReadOnly.js
Due: web

fixed linter
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
Due: web

removed console.log
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
Due: web

fixed some tests; removed console.logs
  api/endpoint-tests/utils.js
  api/routes/apds/files/post.js
  api/routes/apds/submissions/get.endpoint.js
  api/routes/apds/submissions/get.js
  api/routes/apds/submissions/get.test.js
  api/routes/apds/submissions/post.endpoint.js
  api/routes/apds/submissions/post.js
  api/routes/apds/submissions/post.test.js
  common/schemas/costAllocation.test.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndComplianceReadOnly.js
Due: api, common, web

wip adding apd overview stories, starting to update for MMIS
  web/src/pages/apd/export/ReadOnlyApd.js
  web/src/pages/apd/export/ReadOnlyApd.stories.js
Due: web

updated snapshots
  api/routes/apds/__snapshots__/patch.endpoint.js.snap
  api/routes/apds/__snapshots__/post.endpoint.js.snap
  api/routes/apds/files/__snapshots__/post.endpoint.js.snap
  api/routes/apds/submissions/post.test.js
  api/routes/auth/activities/__snapshots__/get.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/delete.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/get.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/post.endpoint.js.snap
  api/routes/auth/certifications/__snapshots__/put.endpoint.js.snap
  api/routes/auth/certifications/files/__snapshots__/post.endpoint.js.snap
  api/routes/auth/roles/__snapshots__/get.endpoint.js.snap
  api/routes/auth/states/__snapshots__/get.endpoint.js.snap
  api/routes/docs/__snapshots__/get.endpoint.js.snap
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
  api/routes/roles/__snapshots__/get.endpoint.js.snap
  yarn.lock
Due: none

added tooltip to subform save buttons (#4584)
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  web/src/components/FormAndReviewList.js
Due: e2e, web
