Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

fix e2e test
  e2e/cypress/downloads/downloads.html
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

update e2e
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

adds back class for table indentation
  web/src/pages/apd/proposed-budget/SummaryKeyStatePersonnel.js
Due: web

add apdNew storybook
  web/.storybook/main.js
  web/.storybook/preview.js
  web/package.json
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.stories.js
  yarn.lock
Due: web

fix storybook rendering of ContractorResources
  web/src/pages/apd/activities/contractor-costs/ContractorResources.stories.js
Due: none

Tbolt/4491 medicaid business areas bug (#4543)
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/Activity.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.test.js
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
  yarn.lock
Due: web

Tbolt/4512 Updates to help text in cost allocation for MMIS apds (#4548)
  web/src/i18n/locales/en/activities/costAllocate.yaml
  web/src/pages/apd/activities/cost-allocation/CostAllocation/CostAllocate.js
  web/src/pages/apd/activities/cost-allocation/CostAllocation/CostAllocate.test.js
Due: web

more progress with cypress tests
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

upgraded node to 16.19.1 and fixed lint issues
  .circleci/config.yml
  .github/workflows/storybook.yml
  .nvmrc
  README.md
  StatementOfObjectives.md
  api/Dockerfile
  api/package.json
  bin/preview-deploy/aws.user-data.sh
  bin/prod-deploy/aws.user-data.sh
  common/package.json
  e2e/cypress/helpers/mmis/activity/default-activity.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  e2e/package.json
  package.json
  packer/backend20220608.sh
  packer/mongo20220708.sh
  packer/preview20220608.sh
  web/Dockerfile
  web/package.json
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/Activity.js
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
  yarn.lock
Due: api, common, e2e, web

event manage page
  common/schemas/apdNew.js
  common/schemas/apdOverview.js
  common/schemas/medicaidBusinessArea.js
  web/package.json
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
  yarn.lock
Due: common, web

polished up tests
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

Duplicate instance cleanup script wip
  bin/preview-deploy/aws.cleanup-ec2.sh
  bin/preview-deploy/aws.wip-cleanup.sh
Due: none

Revert "add apdNew storybook"
  web/.storybook/main.js
  web/.storybook/preview.js
  web/package.json
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.stories.js
  yarn.lock
Due: web

fixed issue with error messages
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
Due: web

update seeds
  api/seeds/development/01-hitech.js
  api/util/adminCheck.test.js
Due: none

upgraded node to 16.19.1 and fixed lint issues (#4563)
  .circleci/config.yml
  .github/workflows/storybook.yml
  .nvmrc
  README.md
  StatementOfObjectives.md
  api/Dockerfile
  api/package.json
  bin/preview-deploy/aws.user-data.sh
  bin/prod-deploy/aws.user-data.sh
  common/package.json
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  e2e/package.json
  package.json
  packer/backend20220608.sh
  packer/mongo20220708.sh
  packer/preview20220608.sh
  web/Dockerfile
  web/package.json
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.js
  yarn.lock
Due: api, common, e2e, web

bug fix
  api/util/adminCheck.test.js
  common/schemas/apdNew.js
  common/schemas/apdOverview.js
  common/utils/constants.js
  web/package.json
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
  web/src/redux/reducers/apd.js
  yarn.lock
Due: common, web

update snapshots
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
Due: none

fix jest test
  web/src/pages/apd/new/ApdNew.test.js
Due: none

Ad/4211 MMIS APD overview (#4528)
  api/seeds/development/01-hitech.js
  api/seeds/development/02-hitechNoActivities.js
  api/util/adminCheck.js
  api/util/adminCheck.test.js
  common/schemas/apdNew.js
  common/schemas/apdOverview.js
  common/schemas/combined.js
  common/schemas/index.js
  common/utils/constants.js
  e2e/cypress/helpers/apd/apd-name.js
  e2e/cypress/helpers/apd/apd-overview.js
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  e2e/cypress/integration/02-apd/02-default-apd.cy.js
  e2e/cypress/integration/02-apd/03-apd-with-data.cy.js
  e2e/cypress/integration/02-apd/04-apd-budget-checks.cy.js
  e2e/cypress/integration/03-admin/04-admin-check.cy.js
  e2e/cypress/integration/04-bug-tests/01-state-staff-bugs.cy.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  e2e/cypress/integration/05-mmis/02-default-mmis-apd.cy.js
  e2e/cypress/integration/05-mmis/03-mmis-apd-with-data.cy.js
  web/src/components/ApdUpdate.js
  web/src/components/ApdUpdate.test.js
  web/src/components/Instruction.js
  web/src/components/Instruction.test.js
  web/src/components/__snapshots__/Section.test.js.snap
  web/src/i18n/locales/en/apd/apd.yaml
  web/src/layout/header/ApdHeader.js
  web/src/layout/header/__snapshots__/ApdHeader.test.js.snap
  web/src/pages/apd/activities/state-costs/__snapshots__/NonPersonnelCosts.test.js.snap
  web/src/pages/apd/activities/state-costs/__snapshots__/StatePersonnel.test.js.snap
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/pages/apd/apd-overview/ApdOverview.test.js
  web/src/pages/apd/apd-overview/ApdOverviewHITECHFields.js
  web/src/pages/apd/apd-overview/ApdOverviewHITECHFields.test.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.test.js
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
  web/src/redux/actions/editApd/overview.js
  web/src/redux/actions/editApd/overview.test.js
  web/src/styles/scss/utilities.scss
Due: api, common, e2e, web

fixed test and error message
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
  web/src/pages/apd/activities/ffp/FedStateSelector.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
Due: e2e, web

Adding SGs for DataProtect to reach eAPD DBs
  terraform/legacy/prod/modules/buckets.tf
  terraform/legacy/prod/modules/mongo.tf
  terraform/legacy/prod/modules/securityGroups.tf
Due: none

Adding SGs for DataProtect to reach eAPD DBs (#4565)
  terraform/legacy/prod/modules/buckets.tf
  terraform/legacy/prod/modules/mongo.tf
  terraform/legacy/prod/modules/securityGroups.tf
Due: none

add stories for pages and sections of the apd with tables
  web/src/pages/apd/activities/cost-allocation/CostAllocateFFPQuarterly.stories.js
  web/src/pages/apd/activities/cost-allocation/CostAllocation/ActivityTotalCostTable.stories.js
  web/src/pages/apd/activities/cost-allocation/CostAllocation/OtherFunding.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.stories.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.stories.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTable.stories.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMIS.stories.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.stories.js
  web/src/pages/apd/proposed-budget/BudgetSummary.stories.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.stories.js
  web/src/pages/apd/proposed-budget/InventivePayments.stories.js
  web/src/pages/apd/proposed-budget/QuarterlyBudgetSummary.stories.js
  web/src/pages/apd/proposed-budget/SummaryActivityBreakdown.stories.js
  web/src/pages/apd/schedule-summary/ScheduleSummary.stories.js
Due: web

Updating method of getting list of preview instance PR numbers
  bin/preview-deploy/aws.cleanup-ec2.sh
Due: none

fix snapshots and import issue
  web/src/pages/apd/activities/activities-dashboard/Activity.test.js
  web/src/pages/apd/activities/ffp/__snapshots__/CostAllocateFFP.test.js.snap
  web/src/pages/apd/key-state-personnel/ApdStateKeyPersonnel.test.js
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
Due: none

Tbolt/4416 mmis proposed budget (#4517)
  api/models/budget.js
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
  api/routes/openAPI/index.js
  common/schemas/keyStatePersonnel.js
  common/utils/budget.js
  common/utils/budget.test.js
  e2e/cypress/fixtures/HIE-activity-template.json
  e2e/cypress/fixtures/HIT-activity-template.json
  e2e/cypress/fixtures/MMIS-activity-template.json
  e2e/cypress/fixtures/budget-checks-test.json
  e2e/cypress/fixtures/default-activity-template.json
  e2e/cypress/fixtures/default-mmis-activity-template.json
  e2e/cypress/fixtures/proposed-budget-test.json
  e2e/cypress/helpers/apd/proposed-budget-calculations.js
  web/src/fixtures/ak-apd-mmis.json
  web/src/fixtures/ak-budget-mmis.json
  web/src/fixtures/mo-hitech-apd.js
  web/src/i18n/locales/en/proposedBudget.yaml
  web/src/pages/apd/activities/contractor-costs/ContractorResources.stories.js
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.js
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.test.js
  web/src/pages/apd/activities/cost-allocation/__snapshots__/CostAllocationRows.test.js.snap
  web/src/pages/apd/activities/ffp/__snapshots__/CostAllocateFFP.test.js.snap
  web/src/pages/apd/proposed-budget/BudgetSummary.js
  web/src/pages/apd/proposed-budget/BudgetSummary.test.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.test.js
  web/src/pages/apd/proposed-budget/ProposedBudget.js
  web/src/pages/apd/proposed-budget/ProposedBudget.test.js
  web/src/pages/apd/proposed-budget/ProposedBudgetReadOnly.js
  web/src/pages/apd/proposed-budget/SummaryKeyStatePersonnel.js
  web/src/pages/apd/proposed-budget/SummaryKeyStatePersonnel.test.js
  web/src/pages/apd/proposed-budget/__snapshots__/BudgetSummary.test.js.snap
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
  web/src/redux/selectors/activities.selectors.js
  web/src/redux/selectors/activities.selectors.test.js
  yarn.lock
Due: api, common, e2e, web

fix linting
  web/src/components/MedicaidBusinessAreas.js
  web/src/pages/apd/new/ApdNew.js
Due: web

move medicaid business areas to component
  common/schemas/apdNew.js
  web/src/components/MedicaidBusinessAreas.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: common, web

remove unused component
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

change component names
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/HitechUpdateStatus.js
  web/src/pages/apd/new/MmsiUpdateStatus.js
Due: web

add proptypes to medicaid business component
  web/src/components/MedicaidBusinessAreas.js
  web/src/pages/apd/new/MmsiUpdateStatus.js
Due: web

linting issues
  web/src/components/MedicaidBusinessAreas.js
Due: web

fix backend unit test fix
  api/util/adminCheck.test.js
Due: none

fix CostAllocateFFPQuarterly story
  web/src/pages/apd/activities/cost-allocation/CostAllocateFFPQuarterly.stories.js
Due: none

fix back unit test
  api/util/adminCheck.test.js
Due: none

refactor
  web/src/components/MedicaidBusinessAreas.js
  web/src/pages/apd/new/MmsiUpdateStatus.js
Due: web

Revert "fix back unit test"
  api/util/adminCheck.test.js
Due: none

Path conditions:
  api: any of: api/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  common: any of: common/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  e2e: any of: e2e/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  web: any of: web/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
