Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

break up differences on apd executive summary
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/HitechFfyTotalsSummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisFfyTotalsSummary.js
Due: web

refactor
  web/src/i18n/locales/en/executiveSummary.yaml
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/HitechFfyTotalsSummary.js
  web/src/pages/apd/executive-summary/MmisActivitySummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisFfyTotalsSummary.js
  web/src/styles/scss/tables.scss
Due: web

wip updates to table designs
  web/src/i18n/locales/en/proposedBudget.yaml
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.stories.js
  web/src/pages/apd/schedule-summary/ScheduleSummary.js
  web/src/pages/apd/schedule-summary/ScheduleSummary.stories.js
  web/src/styles/scss/tables.scss
Due: web

add getUpdateStatus redux
  web/src/components/ApdUpdate.js
  web/src/i18n/locales/en/executiveSummary.yaml
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/MmisApdOverview.js
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/nav.items.js
Due: web

added new files for mmis results of prev activities
  api/models/mmis.js
  api/seeds/development/03-mmis.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISOld.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISOld.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotalsHITECH.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotalsHITECH.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotalsMMIS.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
  web/src/redux/actions/editApd/previousActivities.js
  web/src/redux/selectors/apd.selectors.js
Due: api, web

updated Activity Overview to work with MMIS; waiting on Akua to get back to me about how to display Fed-State split
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboardReadOnly.js
  web/src/pages/apd/activities/activities-dashboard/ActivityReadOnly.js
  web/src/pages/apd/activities/activities-dashboard/ActivityReadOnly.test.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.stories.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.test.js
Due: web

add apd overview to executive summary
  common/utils/constants.js
  web/src/components/ApdUpdate.js
  web/src/components/MedicaidBusinessAreas.js
  web/src/pages/apd/executive-summary/MmisApdOverview.js
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/nav.items.js
  web/src/util/apd.js
Due: common, web

add priorities and scope
  web/src/i18n/locales/en/executiveSummary.yaml
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/MmisSpecificFields.js
  web/src/redux/reducers/apd.js
  web/src/util/apd.js
Due: web

take care of HTML in scopeAndPriorities
  web/src/pages/apd/executive-summary/MmisSpecificFields.js
Due: web

show other details
  web/src/pages/apd/executive-summary/MmisSpecificFields.js
  web/src/util/apd.js
Due: web

updated files related to schema changes
  api/routes/apds/post.mmis.data.js
  api/routes/openAPI/index.js
  api/seeds/development/04-mmisNoActivities.js
  api/seeds/test/03-akMMIS.js
  e2e/cypress/fixtures/mmis-basics.json
  e2e/cypress/fixtures/mmis-data.json
  openapi.json
  web/src/fixtures/ak-apd-mmis.json
Due: api, e2e

updated the email address of the Export Instructions
  web/src/pages/apd/export/ExportReadOnly.js
  web/src/pages/apd/export/ExportReadOnly.stories.js
  web/src/pages/apd/export/__snapshots__/ExportReadOnly.test.js.snap
Due: web

more table updates
  web/src/pages/apd/activities/cost-allocation/CostAllocateFFPQuarterly.js
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.js
  web/src/pages/apd/activities/cost-allocation/__snapshots__/CostAllocationRows.test.js.snap
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
  web/src/pages/apd/activities/ffp/__snapshots__/CostAllocateFFP.test.js.snap
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.js
  web/src/pages/apd/executive-summary/__snapshots__/ExecutiveSummaryBudget.test.js.snap
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/pages/apd/proposed-budget/SummaryActivityBreakdown.js
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
  web/src/pages/apd/proposed-budget/__snapshots__/SummaryActivityBreakdown.test.js.snap
  web/src/pages/apd/schedule-summary/__snapshots__/ScheduleSummary.test.js.snap
  web/src/styles/scss/tables.scss
Due: web

fixed lint issue
  web/src/pages/apd/export/ExportReadOnly.js
Due: web

added change to Federal-State Split
  common/utils/constants.js
  web/src/pages/apd/activities/activities-dashboard/ActivityReadOnly.test.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.stories.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.test.js
Due: common, web

passing setup in jest
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
  web/src/pages/apd/executive-summary/HitechActivitySummary.js
  web/src/pages/apd/executive-summary/MmisActivitySummary.js
  web/src/pages/apd/executive-summary/__snapshots__/ExecutiveSummary.test.js.snap
  web/src/pages/apd/executive-summary/__snapshots__/ExecutiveSummaryBudget.test.js.snap
Due: web

add mmis general test
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
Due: none

update snapshot
  web/src/pages/apd/export/__snapshots__/ExportReadOnly.test.js.snap
Due: none

move exports to utils
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisActivitySummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
  web/src/util/apd.js
Due: web

remove console.log
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
Due: web

update ApdUpdate component test
  web/src/components/ApdUpdate.test.js
Due: none

updated format of split
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.js
  web/src/pages/apd/activities/overview/ActivitySummaryReadOnly.test.js
Due: web

update ApdNew test
  web/src/pages/apd/new/ApdNew.test.js
Due: none

updated e2e test
  e2e/cypress/fixtures/default-activity-template.json
Due: e2e

update jest tests
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
  web/src/pages/apd/executive-summary/HitechActivitySummary.js
  web/src/pages/apd/executive-summary/MmisSpecificFields.js
  web/src/pages/apd/new/ApdNew.test.js
  web/src/redux/reducers/apd.js
  web/src/util/apd.js
Due: web

fix lint
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
Due: web

simplify code
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
Due: web

remove reducer
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/redux/reducers/apd.js
Due: web

update test
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
Due: none

refactor
  web/src/pages/apd/executive-summary/ActivityExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/HitechActivitySummary.js
Due: web

fix linting
  web/src/pages/apd/executive-summary/ActivityExecutiveSummary.js
Due: web

add condition for mbas
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/util/apd.js
Due: web

fix linting
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
Due: web

fix jest tests
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
Due: none

added tooltip to button
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  web/src/components/FormAndReviewList.js
Due: e2e, web

updated knex
  api/package.json
  yarn.lock
Due: api

removed knex from audit allowlist
  audit-ci.json
Due: none

updated migrations
  api/migrations/20230302152346_results-of-prev-activities-mmis.js
  api/seeds/development/03-mmis.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotalsHITECH.test.js
  web/src/pages/apd/previous-activities/PreviousActivities.test.js
  web/src/pages/apd/previous-activities/__snapshots__/ApdPreviousActivityTableMMISOld.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/ApdPreviousActivityTableTotal.test.js.snap
Due: web

Tbolt/4523 Dont allow blank strings in text input fields (#4552)
  common/schemas/activityOverview.js
  common/schemas/apdNew.js
  common/schemas/apdOverview.js
  common/schemas/assurancesAndCompliance.js
  common/schemas/conditionsForEnhancedFunding.js
  common/schemas/contractorResources.js
  common/schemas/costAllocationNarrative.js
  common/schemas/expenses.js
  common/schemas/index.js
  common/schemas/keyStatePersonnel.js
  common/schemas/milestones.js
  common/schemas/nameAndFundingSource.js
  common/schemas/outcomeMetric.js
  common/schemas/securityPlanning.js
  common/schemas/statePersonnel.js
  common/schemas/statePrioritiesAndScope.js
  web/src/pages/apd/key-state-personnel/ApdStateProfileMedicaidOffice.js
  web/yaml-tests.js
  yarn.lock
Due: common, web

updated frontend tests
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISOld.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotalsHITECH.test.js
  web/src/pages/apd/previous-activities/__snapshots__/ApdPreviousActivityTableTotalsHITECH.test.js.snap
  web/src/redux/actions/editApd/previousActivities.test.js
  web/src/redux/selectors/apd.selectors.test.js
Due: none

Path conditions:
  api: any of: api/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  common: any of: common/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  e2e: any of: e2e/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  web: any of: web/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
