Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

Fixing terraform validation errors in prod
  terraform/legacy/prod/modules/mongo.tf
  terraform/legacy/prod/prod.tf
Due: none

Removing redunant line
  terraform/legacy/prod/modules/mongo.tf
Due: none

resolve lint errors
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/pages/apd/apd-overview/ApdOverview.test.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.test.js
Due: web

update snapshot
  web/src/layout/header/__snapshots__/ApdHeader.test.js.snap
Due: none

update text in test
  api/util/adminCheck.test.js
Due: none

Circle CI OIDC Implementation (#4504)
  terraform/oidc/.gitignore
  terraform/oidc/README.md
  terraform/oidc/impl_permission_policy.json
  terraform/oidc/modules/oidc/main.tf
  terraform/oidc/modules/oidc/outputs.tf
  terraform/oidc/modules/oidc/variables.tf
  terraform/oidc/oidc.tf
  terraform/oidc/prod_permission_policy.json
  terraform/oidc/providers.tf
  terraform/oidc/variable.tf
  terraform/oidc/versions.tf
Due: none

change case to if
  web/src/redux/reducers/apd.js
Due: web

add MMIS apd tests
  web/src/redux/reducers/apd.test.js
Due: none

fix activities.selectors test issue, update language in State and Contractor Cost Breakdown
  web/src/i18n/locales/en/proposedBudget.yaml
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/redux/selectors/activities.selectors.test.js
Due: web

fix snapshots
  web/src/pages/apd/proposed-budget/SummaryKeyStatePersonnel.test.js
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
Due: none

attempt to resolve backend test
  api/util/adminCheck.test.js
  web/src/pages/apd/apd-overview/ApdOverview.js
Due: web

remove unused value
  web/src/pages/apd/apd-overview/ApdOverview.js
Due: web

adds selector tests
  web/src/redux/selectors/activities.selectors.js
  web/src/redux/selectors/activities.selectors.test.js
Due: web

lint fixes, test fixes
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/Activity.js
  web/src/pages/apd/activities/activities-dashboard/Activity.test.js
  web/src/redux/selectors/activities.selectors.js
Due: web

fixes export view for HITECH apds
  web/src/pages/apd/proposed-budget/ProposedBudgetReadOnly.js
Due: web

update openAPI
  api/routes/openAPI/index.js
Due: none

fix backend snapshot
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
Due: none

fingers crossed
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
Due: none

Secret scanning (#4529)
  .github/workflows/gitleaks.yaml
  .pre-commit-config.yaml
  README.md
Due: none

yarn.lock, hoping the snapshot for backend endpoint fixes itself
  yarn.lock
Due: none

update snapshot ....again
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
Due: none

scoped year checkbox assertions in e2e tests
  e2e/cypress/helpers/apd/apd-overview.js
  e2e/cypress/integration/05-mmis/02-default-mmis-apd.cy.js
Due: e2e

upate error message text
  api/util/adminCheck.test.js
  common/schemas/apdNew.js
  common/schemas/apdOverview.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: common, e2e

add test for redux action
  web/src/redux/actions/editApd/overview.test.js
Due: none

cleanup
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
Due: web

adding fundingCategory to keyStatePersonnel
  api/migrations/20230126204833_mongoose-key-state-personnel-mmis.js
  api/migrations/20230207224139_mongoose-adding-funding-category.js
  api/models/apd.js
  api/models/apdActivity.js
  api/routes/apds/post.hitech.data.js
  api/seeds/development/01-hitech.js
  api/seeds/development/02-hitechNoActivities.js
  api/seeds/development/03-mmis.js
  api/seeds/test/01-mnAPD.js
  api/seeds/test/02-akAPD.js
  api/seeds/test/03-akMMIS.js
  api/seeds/test/05-APD.js
  api/seeds/test/06-APD.js
  api/seeds/test/07-APD.js
  api/seeds/test/08-APD.js
  common/schemas/combined.js
  common/schemas/costAllocation.js
  common/schemas/costAllocation.test.js
  common/schemas/index.js
  common/schemas/keyStatePersonnel.js
  common/utils/constants.js
  web/src/i18n/locales/en/activities/costAllocate.yaml
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
  web/src/pages/apd/activities/ffp/FedStateSelector.js
  web/src/pages/apd/activities/ffp/FedStateSelector.stories.js
  web/src/pages/apd/activities/ffp/MatchRatePicker.js
  web/src/pages/apd/activities/ffp/MatchRatePicker.stories.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.stories.js
  web/src/pages/apd/key-state-personnel/ApdKeyPersonForm.js
  web/src/redux/actions/editActivity/costAllocate.js
  web/src/redux/reducers/activities.js
Due: api, common, web

test progress
  e2e/cypress/fixtures/default-mmis-activity-template.json
  e2e/cypress/helpers/mmis/activity/default-activity.js
  e2e/cypress/integration/05-mmis/02-default-mmis-apd.cy.js
Due: e2e

improvements and updates based on amyd11 feedback
  web/src/pages/apd/proposed-budget/BudgetSummary.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.test.js
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
  web/src/redux/selectors/activities.selectors.js
Due: web

fix seed
  api/seeds/development/03-mmis.js
  api/seeds/development/04-mmisNoActivities.js
Due: none

test updates
  api/migrations/20230207224139_mongoose-adding-funding-category.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/jest.config.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
  web/src/pages/apd/activities/ffp/FedStateSelector.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
  web/src/redux/reducers/__snapshots__/patch.test.js.snap
  web/src/redux/reducers/activities.test.js
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
Due: e2e, web

Dmirano/4363 remove hit hie tables prev activities (#4518)
  e2e/cypress/fixtures/mmis-basics.json
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.test.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivities.test.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
  web/src/pages/apd/previous-activities/__snapshots__/PreviousActivities.test.js.snap
  web/src/redux/selectors/apd.selectors.js
Due: e2e, web

update cypress tests
  e2e/cypress/helpers/mmis/activity/default-activity.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
Due: e2e, web

Addressing Snyk Terraform findings (#4505)
  terraform/greenfield/bootstrap/.terraform-version
  terraform/greenfield/bootstrap/main.tf
  terraform/greenfield/bootstrap/terraform.tfstate
  terraform/greenfield/bootstrap/terraform.tfstate.backup
  terraform/greenfield/bootstrap/variables.tf
  terraform/greenfield/eapd/.terraform-version
  terraform/greenfield/eapd/backend.tf
  terraform/greenfield/eapd/main.tf
  terraform/greenfield/eapd/output.tf
  terraform/greenfield/eapd/variables.tf
  terraform/greenfield/impl/impl.tf
  terraform/greenfield/main.tf
  terraform/greenfield/modules/buckets/eapd_main_state.tf
  terraform/greenfield/outputs.tf
  terraform/greenfield/prod/prod.tf
  terraform/greenfield/public/modules/instances/eapd_jumpbox.tf
  terraform/greenfield/public/public.tf
  terraform/greenfield/test/test.tf
  terraform/legacy/modules/buckets/eapd_main_state.tf
  terraform/legacy/prod/modules/mongo.tf
  terraform/legacy/public/modules/instances/eapd_jumpbox.tf
  terraform/legacy/staging/modules/mongo.tf
Due: none

add required name field
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
Due: common, web

add string.empty check
  common/schemas/apdNew.js
Due: common

updated help text
  web/src/i18n/locales/en/activities/activities.yaml
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
Due: web

added help text check to unit test
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.test.js
Due: none

update
  web/src/pages/apd/new/ApdNew.test.js
Due: none

updated test
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.test.js
Due: none

update jest test
  web/src/pages/apd/new/ApdNew.test.js
Due: none

Path conditions:
  api: any of: api/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  common: any of: common/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  e2e: any of: e2e/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  web: any of: web/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
