Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  behavior: default
  layout: 'reach,diff,flags,files,footer'
  require_changes: false
  require_base: yes
  require_head: yes
  show_carryforward_flags: true

github_checks:
  annotations: true

coverage:
  precision: 2
  round: down
  range: '70.0...100.0'
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      default:
        target: 60% #overall project/ repo coverage
      api:
        target: 75%
        flags:
          - api
      common:
        target: 74%
        flags:
          - common
      web:
        target: 74%
        flags:
          - web

flags:
  api:
    paths: #note, accepts globs, not regexes
      - api/
    carryforward: true
  common:
    paths:
      - common/
    carryforward: true
  e2e:
    paths:
      - e2e/
    carryforward: true
  web:
    paths:
      - web/
    carryforward: true
    # If no Carryfoward flag specified in YAML, the
    # default configuration is false.

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - '**/node_modules/**'
  - '**/__snapshots__/**'
  - 'web/**/*.story.js'
  - 'web/**/*.stories.js'
  - 'web/**/*.test.js'
  - 'web/**/*.cy.js'
  - 'web/src/shared/**'
  - 'web/src/fixtures/**'
  - 'web/src/i18n/**'
  - 'web/src/lazy/**'
  - 'web/src/shared/**'
  - 'web/src/static/**'
  - 'web/src/file-loader.js'
  - 'web/src/app.dev.js'
  - 'web/src/app.js'
  - 'web/src/constants.js'
  - 'web/src/components/EnableCookies.js'
  - 'web/src/util/analytics.js'
  - 'web/src/util/oktaAuth.js'
  - 'api/**/*.test.js'
  - 'api/**/*.endpoint.js'
  - 'api/**/index.js'
  - 'api/**/shared.js'
  - 'api/**/migrations/**'
  - 'api/**/mongo-migrations/**'
  - 'api/**/openAPI.js'
  - 'api/**/schemas/**'
  - 'api/**/seeds/**'
  - 'api/**/test-data/*'
  - 'api/audit.js'
  - 'api/auth/mockedOktaAuth.js'
  - 'api/db/knex.js'
  - 'api/db/mongodb.js'
  - 'api/seeds/development/apds.js'
  - '_templates/**'
  - '.circleci/**'
  - '.github/**'
  - 'bin/**'
  - 'documentation/**'
  - 'owasp/**'
  - 'packer/**'
  - 'postman/**'
  - 'terraform/**'

removed file from another branch
  api/routes/apds/submissions/post.test.js
Due: none

updated the email address of the Export Instructions (#4581)
  web/src/pages/apd/export/ExportReadOnly.js
  web/src/pages/apd/export/ExportReadOnly.stories.js
  web/src/pages/apd/export/__snapshots__/ExportReadOnly.test.js.snap
Due: web

updated codecov configs
  codecov.yml
Due: none

progress
  web/src/i18n/locales/en/executiveSummary.yaml
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
Due: web

update pr template (#4591)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

removed server health check from owasp zap scan
  .circleci/config.yml
Due: none

updates mmis apd overview readonly
  web/src/pages/apd/export/ReadOnlyApd.js
  web/src/pages/apd/export/ReadOnlyApd.stories.js
  web/src/redux/selectors/apd.selectors.js
  web/src/styles/scss/utilities.scss
Due: web

saving before upgrading axios
  api/api.js
  api/db/mongodb.js
  api/endpoint-tests/utils.js
  api/jest.setup.js
  api/jest.teardown.js
  api/package.json
  api/routes/affiliations/get.endpoint.js
  api/routes/apds/delete.endpoint.js
  api/routes/apds/events/post.endpoint.js
  api/routes/apds/files/get.endpoint.js
  api/routes/apds/files/post.endpoint.js
  api/routes/apds/get.endpoint.js
  api/routes/apds/patch.endpoint.js
  api/routes/apds/post.endpoint.js
  api/routes/apds/submissions/get.endpoint.js
  api/routes/apds/submissions/patch.endpoint.js
  api/routes/auth/activities/get.endpoint.js
  api/routes/auth/certifications/delete.endpoint.js
  api/routes/auth/certifications/files/get.endpoint.js
  api/routes/auth/certifications/files/post.endpoint.js
  api/routes/auth/certifications/get.endpoint.js
  api/routes/auth/certifications/post.endpoint.js
  api/routes/auth/certifications/put.endpoint.js
  api/routes/auth/roles/get.endpoint.js
  api/routes/auth/states/get.endpoint.js
  api/routes/docs/get.endpoint.js
  api/routes/me/get.endpoint.js
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
  api/routes/openAPI/get.endpoint.js
  api/routes/roles/get.endpoint.js
  api/routes/states/affilitations/get.endpoint.js
  api/routes/states/affilitations/patch.endpoint.js
  api/routes/states/affilitations/post.endpoint.js
  api/routes/states/get.endpoint.js
  api/routes/users/get.endpoint.js
  yarn.lock
Due: api

tried having all of the tests using shared axios objects to cut down on open connections
  api/endpoint-tests/utils.js
  api/jest.setup.js
  api/routes/affiliations/get.endpoint.js
  api/routes/apds/delete.endpoint.js
  api/routes/apds/events/post.endpoint.js
  api/routes/apds/files/get.endpoint.js
  api/routes/apds/files/post.endpoint.js
  api/routes/apds/get.endpoint.js
  api/routes/apds/patch.endpoint.js
  api/routes/apds/post.endpoint.js
  api/routes/apds/submissions/get.endpoint.js
  api/routes/apds/submissions/patch.endpoint.js
  api/routes/auth/activities/get.endpoint.js
  api/routes/auth/certifications/delete.endpoint.js
  api/routes/auth/certifications/files/get.endpoint.js
  api/routes/auth/certifications/files/post.endpoint.js
  api/routes/auth/certifications/get.endpoint.js
  api/routes/auth/certifications/post.endpoint.js
  api/routes/auth/certifications/put.endpoint.js
  api/routes/auth/roles/get.endpoint.js
  api/routes/auth/states/get.endpoint.js
  api/routes/docs/get.endpoint.js
  api/routes/me/get.endpoint.js
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
  api/routes/openAPI/get.endpoint.js
  api/routes/roles/get.endpoint.js
  api/routes/states/affilitations/get.endpoint.js
  api/routes/states/affilitations/patch.endpoint.js
  api/routes/states/affilitations/post.endpoint.js
  api/routes/states/get.endpoint.js
  api/routes/users/get.endpoint.js
Due: api

fixed typo in test
  api/package.json
  api/routes/apds/get.endpoint.js
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
  api/routes/roles/__snapshots__/get.endpoint.js.snap
Due: api

refactor budget tables
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
  web/src/pages/apd/export/ReadOnlyApd.js
  web/src/util/apd.js
Due: web

add heading
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
  web/src/pages/apd/export/ReadOnlyApd.js
Due: web

updates to api unit tests
  api/auth/jwtUtils.test.js
  api/package.json
  yarn.lock
Due: api

refactors based on Amy's comments
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTables.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
  web/src/redux/actions/editApd/previousActivities.js
  web/src/redux/selectors/apd.selectors.js
  web/src/redux/selectors/apd.selectors.test.js
Due: web

remove ReadOnlyApd
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/export/ReadOnlyApd.js
  web/src/pages/apd/export/ReadOnlyApd.test.js
  web/src/pages/apd/export/ReadOnlyHitech.js
  web/src/pages/apd/export/ReadOnlyMmis.js
  web/src/styles/scss/utilities.scss
Due: web

MMIS summary
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/export/ReadOnlyMmis.js
  web/src/styles/scss/utilities.scss
Due: web

Key State Personnel and Previous Activities added
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
Due: web

remove Scope
  web/src/i18n/locales/en/executiveSummary.yaml
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
  web/src/pages/apd/executive-summary/MmisSpecificFields.js
Due: web

fixe proposed budget
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/proposed-budget/ProposedBudgetReadOnly.js
Due: web

add security plan to export view
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/security-planning/SecurityPlanningReadOnly.js
Due: web

refactor executive summary
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
  web/src/pages/apd/executive-summary/__snapshots__/ExecutiveSummaryReadOnly.test.js.snap
Due: web

Merge branch 'dmirano/4570-new-prev-activities-mmis' of https://github.com/CMS-Enterprise/eAPD into dmirano/4571-prev-activities-mmis-read-only
  web/src/pages/apd/previous-activities/PreviousActivities.stories.js
Due: none

fix jest tests
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.test.js
  web/src/pages/apd/executive-summary/__snapshots__/ExecutiveSummaryReadOnly.test.js.snap
Due: web

updates apd overview read only mmis to set hardcoded values, updates and adds stories
  web/src/pages/apd/export/ReadOnlyApd.js
  web/src/pages/apd/export/ReadOnlyApd.stories.js
  yarn.lock
Due: web

updated backend snapshot
  api/routes/apds/__snapshots__/post.endpoint.js.snap
  api/routes/openAPI/__snapshots__/get.endpoint.js.snap
Due: none

update overview summary
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/ApdReadOnly.test.js
  web/src/pages/apd/apd-overview/ReadOnlyApdOverview.js
  web/src/pages/apd/apd-overview/ReadOnlyHitech.js
  web/src/pages/apd/apd-overview/ReadOnlyMmis.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
Due: web

fix lint warnings
  web/src/components/MedicaidBusinessAreas.js
  web/src/pages/apd/new/ApdNew.js
Due: web

sotry updates
  web/src/pages/apd/previous-activities/PreviousActivities.stories.js
Due: none

update test lib to fix the router key from being dynamic, add new tests for ReadOnlyApd
  web/src/pages/apd/export/ReadOnlyApd.test.js
  web/src/pages/apd/export/__snapshots__/ReadOnlyApd.test.js.snap
  web/src/shared/apd-testing-library.js
Due: none

results of previous activities should not inlude the current year
  api/migrations/20230302152346_results-of-prev-activities-mmis.js
  api/routes/apds/post.hitech.data.js
  api/routes/apds/post.mmis.data.js
Due: api

reverted prev years change
  api/migrations/20230302152346_results-of-prev-activities-mmis.js
  api/routes/apds/post.hitech.data.js
  api/routes/apds/post.mmis.data.js
Due: api

remove console.log
  web/src/pages/apd/ApdReadOnly.test.js
  web/src/pages/apd/apd-overview/ReadOnlyMmis.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndComplianceReadOnly.js
Due: web

fix lint, prune redundant test
  web/src/pages/apd/export/ReadOnlyApd.test.js
Due: none

use classNames for dynamic classname labeling
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.js
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.test.js
  web/src/pages/apd/activities/cost-allocation/__snapshots__/CostAllocationRows.test.js.snap
Due: web

add classnames as explicity dependency
  web/package.json
  yarn.lock
Due: web

unit test
  web/src/pages/apd/ApdReadOnly.test.js
Due: none

linting errors
  web/src/pages/apd/ApdReadOnly.test.js
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
Due: none

resolve webpack vuln
  web/package.json
  yarn.lock
Due: web

update for linting
  web/src/pages/apd/ApdReadOnly.test.js
Due: none
