Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

cleanup budget comments and related tests
  common/utils/budget.js
  common/utils/budget.test.js
Due: common

unit test for previous activities
  web/src/pages/apd/previous-activities/PreviousActivities.test.js
Due: none

create selectors; update schema
  common/schemas/apdOverview.js
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
  web/src/redux/selectors/apd.selectors.js
Due: common, web

added cypress test
  e2e/cypress/fixtures/mmis-basics.json
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

update help text per apd type in proposed budget page
  web/src/i18n/locales/en/proposedBudget.yaml
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/pages/apd/proposed-budget/ProposedBudget.js
  web/src/redux/selectors/activities.selectors.js
Due: web

updating Assurance and Compliance for MMIS
  api/routes/apds/post.mmis.data.js
  web/src/i18n/index.test.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndCompliance.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndCompliance.stories.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndCompliance.test.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndComplianceReadOnly.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndComplianceReadOnly.stories.js
  web/src/pages/apd/assurances-and-compliance/AssurancesAndComplianceReadOnly.test.js
  web/src/pages/apd/assurances-and-compliance/__snapshots__/AssurancesAndComplianceReadOnly.test.js.snap
  web/src/pages/apd/key-state-personnel/ApdStateKeyPersonnel.test.js
  web/src/redux/actions/app/apd.js
  web/src/redux/actions/app/apd.test.js
  web/src/redux/actions/editApd/assurancesAndCompliance.test.js
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
  web/src/util/regulations.js
Due: api, web

updated AssuranceAndCompliance test
  web/src/pages/apd/assurances-and-compliance/AssurancesAndCompliance.test.js
Due: none

updated AssuranceAndComplianceReadOnly test
  web/src/pages/apd/assurances-and-compliance/AssurancesAndComplianceReadOnly.test.js
Due: none

fixed typo
  web/src/redux/actions/editApd/assurancesAndCompliance.test.js
Due: none

resolve test failures
  api/routes/apds/__snapshots__/post.endpoint.js.snap
  api/routes/apds/post.data.test.js
  api/routes/apds/post.test.js
  web/package.json
  web/src/pages/apd/assurances-and-compliance/AssurancesAndComplianceReadOnly.stories.js
  web/src/redux/actions/app/apd.js
  web/src/redux/actions/app/apd.test.js
  web/src/redux/selectors/apd.selectors.js
Due: web

resolve test failures
  .circleci/config.yml
  api/routes/apds/__snapshots__/post.endpoint.js.snap
  web/jest.config.js
  web/package.json
Due: web

fix admincheck path
  api/util/adminCheck.js
Due: api

update tests
  api/util/adminCheck.test.js
Due: none

WIP adding match rate picker component
  web/src/pages/apd/activities/ffp/CostAllocateFFP.stories.js
  web/src/pages/apd/activities/ffp/MatchRatePicker.js
  web/src/pages/apd/activities/ffp/MatchRatePicker.stories.js
Due: web

updated prod set up to use my token
  bin/prod-deploy/aws.sh
Due: none

update budget tests
  common/utils/budget.js
  common/utils/budget.test.js
Due: common

update test
  common/utils/budget.test.js
Due: common

Updated node version
  packer/backend20220608.sh
  terraform/legacy/public/modules/instances/eapd_jumpbox.tf
Due: none

fix error message display
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
Due: web

Nz/4354 priorities scope (#4484)
  api/util/adminCheck.js
  api/util/adminCheck.test.js
  codecov.yml
  common/schemas/statePrioritiesAndScope.js
  e2e/cypress/fixtures/state-priorities-and-scope.json
  e2e/cypress/helpers/apd/apd-overview.js
  e2e/cypress/helpers/apd/state-priorities-and-scope.js
  e2e/cypress/integration/05-mmis/02-default-mmis-apd.cy.js
  e2e/cypress/integration/05-mmis/03-mmis-apd-with-data.cy.js
  e2e/cypress/support/commands.js
  web/jest.config.js
  web/src/components/TempAlert.js
  web/src/i18n/locales/en/statePrioritiesAndScope.yaml
  web/src/pages/apd/state-priorities-and-scope/StatePrioritiesAndScope.js
  web/src/pages/apd/state-priorities-and-scope/StatePrioritiesAndScope.test.js
  web/src/redux/actions/editApd/statePrioritiesAndScope.js
  web/src/redux/actions/editApd/statePrioritiesAndScope.test.js
  web/src/redux/selectors/apd.selectors.js
Due: api, common, e2e, web

update yarn.lock
  yarn.lock
Due: none

update
  web/src/redux/reducers/apd.js
Due: web

enforce whitespace validation for text field
  common/schemas/apdOverview.js
Due: common

Remove years
  web/src/redux/reducers/apd.js
Due: web

fix strings to symbols
  web/src/redux/reducers/apd.js
Due: web

add years test for mmis apds
  e2e/cypress/helpers/apd/apd-overview.js
  e2e/cypress/integration/05-mmis/03-mmis-apd-with-data.cy.js
Due: e2e

fix lint errors
  web/src/redux/reducers/apd.js
Due: web

fix linting
  web/src/redux/reducers/apd.js
Due: web

save
  web/src/redux/reducers/apd.js
Due: web

add switches
  web/src/redux/reducers/__snapshots__/patch.test.js.snap
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
Due: web

update schema, remove selectors, cleanup
  common/schemas/apdOverview.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
  web/src/redux/selectors/apd.selectors.js
Due: common, web

fix e2e test
  e2e/cypress/helpers/apd/apd-overview.js
Due: e2e

fixes small bugs, add new tests, update existing tests, update fixtures
  common/schemas/keyStatePersonnel.js
  common/utils/budget.js
  web/src/fixtures/ak-apd-mmis.json
  web/src/fixtures/ak-budget-mmis.json
  web/src/i18n/locales/en/proposedBudget.yaml
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.test.js
  web/src/pages/apd/activities/cost-allocation/__snapshots__/CostAllocationRows.test.js.snap
  web/src/pages/apd/proposed-budget/BudgetSummary.js
  web/src/pages/apd/proposed-budget/BudgetSummary.test.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.test.js
  web/src/pages/apd/proposed-budget/ProposedBudget.test.js
  web/src/pages/apd/proposed-budget/__snapshots__/BudgetSummary.test.js.snap
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
Due: common, web

update fixture, fix test
  web/src/fixtures/mo-hitech-apd.js
  web/src/pages/apd/key-state-personnel/ApdStateKeyPersonnel.test.js
Due: none

remove table from MMIS
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
Due: web

testing
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/src/layout/header/ApdHeader.js
  web/src/pages/apd/apd-overview/ApdOverview.test.js
Due: e2e, web

add check for keyStatePersonnel to verify they haveCosts, add tests
  common/utils/budget.js
  common/utils/budget.test.js
  web/src/pages/apd/proposed-budget/SummaryKeyStatePersonnel.test.js
Due: common

Dmirano/3493 mmis activities dashboard (#4499)
  web/src/i18n/locales/en/activities/activities.yaml
  web/src/i18n/locales/en/securityPlanning.yaml
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.test.js
  web/src/pages/apd/activities/activities-dashboard/Activity.js
  web/src/pages/apd/activities/activities-dashboard/Activity.test.js
  web/src/pages/apd/activities/activities-dashboard/__snapshots__/Activity.test.js.snap
  web/src/pages/apd/security-planning/SecurityPlanning.js
  web/src/pages/apd/security-planning/SecurityPlanning.test.js
Due: web

Updating terraform main files to fix validation errors
  terraform/legacy/modules/buckets/eapd_main_state.tf
Due: none

Path conditions:
  api: any of: api/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  common: any of: common/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  e2e: any of: e2e/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  web: any of: web/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
