Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

update key state personnel empty state
  web/src/pages/apd/proposed-budget/SummaryKeyStatePersonnel.js
  web/src/pages/apd/proposed-budget/SummaryKeyStatePersonnel.test.js
Due: web

updated with Ty's suggestions
  .github/workflows/gitleaks.yaml
  api/migrations/20230207224139_mongoose-adding-funding-category.js
  api/models/apd.js
  api/models/apdActivity.js
  api/seeds/development/01-hitech.js
  api/seeds/development/02-hitechNoActivities.js
  api/seeds/development/03-mmis.js
  api/seeds/development/04-mmisNoActivities.js
  api/seeds/test/01-mnAPD.js
  api/seeds/test/02-akAPD.js
  api/seeds/test/05-APD.js
  api/seeds/test/06-APD.js
  api/seeds/test/07-APD.js
  api/seeds/test/08-APD.js
  api/util/adminCheck.test.js
  common/schemas/costAllocation.js
  common/schemas/costAllocation.test.js
  common/schemas/keyStatePersonnel.js
  common/utils/constants.js
  web/src/pages/apd/activities/contractor-costs/ContractorResource/ContractorResourceForm.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
  web/src/pages/apd/activities/ffp/FedStateSelector.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.stories.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.test.js
  web/src/pages/apd/key-state-personnel/ApdKeyPersonForm.js
  web/src/pages/apd/key-state-personnel/ApdKeyPersonForm.test.js
  web/src/redux/actions/editActivity/costAllocate.test.js
  web/src/redux/reducers/activities.test.js
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
Due: api, common, web

fixed lint issue
  web/src/pages/apd/activities/contractor-costs/ContractorResource/ContractorResourceForm.js
Due: web

dmirano/4509-outcomes-and-metrics-help-text (#4536)
  web/src/components/__snapshots__/Section.test.js.snap
  web/src/i18n/locales/en/activities/outcomes.yaml
  web/src/pages/apd/activities/oms/Outcomes.js
  web/src/pages/apd/activities/oms/Outcomes.test.js
  web/src/pages/apd/activities/oms/__snapshots__/Outcomes.test.js.snap
Due: web

Subtotal -> Total
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.js
Due: web

update fixtures and cypress tests to look for Total instead of Subtotal in cost allocation tables
  e2e/cypress/fixtures/HIE-activity-template.json
  e2e/cypress/fixtures/HIT-activity-template.json
  e2e/cypress/fixtures/MMIS-activity-template.json
  e2e/cypress/fixtures/budget-checks-test.json
  e2e/cypress/fixtures/default-activity-template.json
  e2e/cypress/fixtures/default-mmis-activity-template.json
  e2e/cypress/fixtures/proposed-budget-test.json
  e2e/cypress/helpers/apd/proposed-budget-calculations.js
Due: e2e

fix snapshots
  web/src/pages/apd/activities/cost-allocation/__snapshots__/CostAllocationRows.test.js.snap
  web/src/pages/apd/activities/ffp/__snapshots__/CostAllocateFFP.test.js.snap
Due: none

fix date format
  web/src/i18n/locales/en/activities/contractorResources.yaml
Due: none

Dmirano/4510 state staff and expenses help text (#4546)
  web/src/i18n/locales/en/activities/expenses.yaml
  web/src/i18n/locales/en/activities/statePersonnel.yaml
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.js
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.test.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.test.js
  web/src/pages/apd/activities/state-costs/__snapshots__/NonPersonnelCosts.test.js.snap
  web/src/pages/apd/activities/state-costs/__snapshots__/StatePersonnel.test.js.snap
Due: web

fix broken tests
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.test.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.test.js
Due: none

revert date change
  web/src/i18n/locales/en/activities/contractorResources.yaml
Due: none

update remaining rich text fields to not allow blank strings
  common/schemas/activityOverview.js
  common/schemas/contractorResources.js
  common/schemas/costAllocationNarrative.js
Due: common

update yarn.lock
  yarn.lock
Due: none

get back to main
  api/seeds/development/01-hitech.js
  api/seeds/development/02-hitechNoActivities.js
  api/util/adminCheck.js
  api/util/adminCheck.test.js
Due: api

reset apd-overview cypress helper
  e2e/cypress/helpers/apd/apd-overview.js
Due: e2e

reset apd-basics
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
Due: e2e

reset mmis cypress tests
  e2e/cypress/integration/03-admin/04-admin-check.cy.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  e2e/cypress/integration/05-mmis/02-default-mmis-apd.cy.js
Due: e2e

reset admin check cypress
  e2e/cypress/integration/03-admin/04-admin-check.cy.js
Due: e2e

update
  web/src/components/ApdUpdate.js
  web/src/components/ApdUpdate.test.js
  web/src/layout/header/ApdHeader.js
  web/src/pages/apd/activities/overview/ActivityOverview.js
  web/src/pages/apd/activities/overview/ActivityOverview.test.js
Due: web

update
  web/src/pages/apd/activities/overview/FundingSourceForm.js
  web/src/pages/apd/activities/overview/HITECHOverview.js
  web/src/pages/apd/activities/overview/HITECHOverview.test.js
  web/src/pages/apd/activities/overview/MMISOverview.js
  web/src/pages/apd/activities/overview/MMISOverview.test.js
  web/src/pages/apd/activities/overview/NameForm.js
  web/src/pages/apd/activities/overview/NameForm.test.js
  web/src/pages/apd/activities/overview/Overview.js
  web/src/pages/apd/activities/overview/StandardsAndConditions.js
  web/src/pages/apd/activities/overview/StandardsAndConditions.test.js
Due: web

Revert "update"
  web/src/components/ApdUpdate.js
  web/src/components/ApdUpdate.test.js
  web/src/layout/header/ApdHeader.js
  web/src/pages/apd/activities/overview/ActivityOverview.js
  web/src/pages/apd/activities/overview/ActivityOverview.test.js
Due: web

Revert "reset admin check cypress"
  e2e/cypress/integration/03-admin/04-admin-check.cy.js
Due: e2e

undo the undo
  web/src/pages/apd/activities/overview/FundingSourceForm.js
  web/src/pages/apd/activities/overview/HITECHOverview.js
  web/src/pages/apd/activities/overview/HITECHOverview.test.js
  web/src/pages/apd/activities/overview/MMISOverview.js
  web/src/pages/apd/activities/overview/MMISOverview.test.js
  web/src/pages/apd/activities/overview/NameForm.js
  web/src/pages/apd/activities/overview/NameForm.test.js
  web/src/pages/apd/activities/overview/Overview.js
  web/src/pages/apd/activities/overview/StandardsAndConditions.js
  web/src/pages/apd/activities/overview/StandardsAndConditions.test.js
Due: web

reset tests
  web/src/redux/actions/editApd/overview.js
  web/src/redux/actions/editApd/overview.test.js
Due: web

update overview
  web/src/pages/apd/activities/overview/ActivityOverview.js
  web/src/pages/apd/activities/overview/ActivityOverview.test.js
Due: web

fixing previous issue
  web/src/pages/apd/activities/overview/ActivityOverview.js
  web/src/pages/apd/activities/overview/ActivityOverview.test.js
Due: web

reset apd overview
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/pages/apd/apd-overview/ApdOverview.test.js
Due: web

remove files amy's adding
  web/src/pages/apd/apd-overview/ApdOverviewHITECHFields.js
  web/src/pages/apd/apd-overview/ApdOverviewHITECHFields.test.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.test.js
Due: web

remove apd update
  web/src/components/ApdUpdate.js
  web/src/components/ApdUpdate.test.js
Due: web

update cypress tests
  e2e/cypress/integration/03-admin/04-admin-check.cy.js
Due: e2e

update seed
  api/seeds/development/01-hitech.js
Due: none

update backend test
  api/util/adminCheck.test.js
Due: none

update backend tests
  api/util/adminCheck.test.js
Due: none

update backend unit tests
  api/util/adminCheck.test.js
Due: none

fix typo
  api/util/adminCheck.test.js
Due: none

update e2e test
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

update e2e
  e2e/cypress/downloads/downloads.html
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

Tbolt/4511 Private Contractor Example Help Text Update (#4544)
  web/src/i18n/locales/en/activities/contractorResources.yaml
  web/src/pages/apd/activities/contractor-costs/ContractorResources.js
  web/src/pages/apd/activities/contractor-costs/ContractorResources.test.js
  web/src/pages/apd/activities/contractor-costs/__snapshots__/ContractorResources.test.js.snap
Due: web

more progress on tests
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

updated some failing tests
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.test.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.test.js
Due: none

Path conditions:
  api: any of: api/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  common: any of: common/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  e2e: any of: e2e/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  web: any of: web/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
