Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

remove console log
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
Due: web

NZ/4501 - can add/remove years (#4522)
  api/seeds/development/03-mmis.js
  api/seeds/development/04-mmisNoActivities.js
  e2e/cypress/helpers/apd/apd-overview.js
  e2e/cypress/integration/05-mmis/03-mmis-apd-with-data.cy.js
  web/src/pages/apd/new/ApdNew.test.js
  web/src/redux/reducers/__snapshots__/patch.test.js.snap
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
Due: e2e, web

updated outcomes and metrics help text for mmis
  web/src/i18n/locales/en/activities/outcomes.yaml
  web/src/pages/apd/activities/oms/Outcomes.js
Due: web

updated snapshot
  web/src/pages/apd/activities/oms/OutcomesAndMetrics/__snapshots__/OutcomeAndMetricForm.test.js.snap
Due: none

accidentally updated wrong snapshot test
  web/src/pages/apd/activities/oms/__snapshots__/Outcomes.test.js.snap
Due: none

Terraform will now trigger a re-build if user_data is update
  terraform/legacy/prod/modules/mongo.tf
  terraform/legacy/public/modules/instances/eapd_jumpbox.tf
  terraform/legacy/staging/modules/mongo.tf
Due: none

added tests for match rate change
  api/routes/apds/post.hitech.data.js
  api/routes/apds/post.test.js
  common/utils/constants.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/src/i18n/locales/en/activities/costAllocate.yaml
  web/src/pages/apd/activities/ffp/CostAllocateFFP.stories.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.test.js
  web/src/pages/apd/activities/ffp/FedStateSelector.js
  web/src/pages/apd/activities/ffp/FedStateSelector.test.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.stories.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.test.js
  web/src/pages/apd/activities/ffp/__snapshots__/CostAllocateFFP.test.js.snap
  web/src/pages/apd/key-state-personnel/ApdKeyPersonForm.test.js
  web/src/pages/apd/key-state-personnel/__snapshots__/ApdKeyPersonForm.test.js.snap
  web/src/redux/actions/editActivity/costAllocate.test.js
  web/src/redux/reducers/activities.test.js
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
Due: api, common, e2e, web

Terraform will now trigger a re-build if user_data is update (#4537)
  terraform/legacy/prod/modules/mongo.tf
  terraform/legacy/public/modules/instances/eapd_jumpbox.tf
  terraform/legacy/staging/modules/mongo.tf
Due: none

changed snapshot test to match main
  web/src/pages/apd/activities/oms/__snapshots__/Outcomes.test.js.snap
Due: none

added newline at end of file
  web/src/pages/apd/activities/oms/__snapshots__/Outcomes.test.js.snap
Due: none

matched snapshot test to one in main
  web/src/pages/apd/activities/oms/OutcomesAndMetrics/__snapshots__/OutcomeAndMetricForm.test.js.snap
Due: none

fixes to web tests
  api/package.json
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.test.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.test.js
  web/src/redux/reducers/__snapshots__/patch.test.js.snap
Due: api, e2e

Nz/4304 Update Budget and FFP for MMIS (#4526)
  e2e/cypress/fixtures/default-mmis-activity-template.json
  e2e/cypress/helpers/mmis/activity/default-activity.js
  e2e/cypress/integration/05-mmis/02-default-mmis-apd.cy.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
Due: e2e, web

updated snapshots
  web/src/components/__snapshots__/Section.test.js.snap
  web/src/components/__snapshots__/UnexpectedError.test.js.snap
  web/src/layout/header/__snapshots__/ApdHeader.test.js.snap
  web/src/layout/header/__snapshots__/Header.test.js.snap
  web/src/pages/apd/activities/oms/Outcomes.test.js
  web/src/pages/apd/activities/oms/OutcomesAndMetrics/__snapshots__/OutcomeAndMetricForm.test.js.snap
  web/src/pages/apd/activities/oms/__snapshots__/Outcomes.test.js.snap
  web/src/pages/apd/export/__snapshots__/ApdExport.test.js.snap
  web/src/pages/apd/key-state-personnel/__snapshots__/ApdKeyPersonForm.test.js.snap
Due: none

move apd new fields to components
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

fixes issue where model and frontend namespaces were not aligned, misc fixes, add a couple tests
  api/models/mmis.js
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/Activity.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
  yarn.lock
Due: api, web

add snapshots
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
Due: none

fixed unit tests
  web/src/components/__snapshots__/UnexpectedError.test.js.snap
  web/src/layout/header/__snapshots__/ApdHeader.test.js.snap
  web/src/layout/header/__snapshots__/Header.test.js.snap
  web/src/pages/apd/activities/oms/Outcomes.test.js
  web/src/pages/apd/activities/oms/OutcomesAndMetrics/__snapshots__/OutcomeAndMetricForm.test.js.snap
  web/src/pages/apd/export/__snapshots__/ApdExport.test.js.snap
  web/src/pages/apd/key-state-personnel/__snapshots__/ApdKeyPersonForm.test.js.snap
Due: none

add apdValid reducer
  web/src/pages/apd/new/ApdNew.js
  web/src/redux/reducers/apd.js
Due: web

add TextArea
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewMMISFields.js
  web/src/redux/reducers/apd.test.js
Due: web

fix bug
  web/src/pages/apd/new/ApdNew.js
Due: web

fix setting OtherDetails
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

fixed no data message for Outcomes
  web/src/pages/apd/activities/oms/Outcomes.js
Due: web

updated snapshots
  web/src/pages/apd/activities/oms/__snapshots__/Outcomes.test.js.snap
Due: none

get rid of apd Type useState
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

updated tests
  api/package.json
  api/routes/apds/__snapshots__/patch.endpoint.js.snap
  api/routes/apds/files/__snapshots__/post.endpoint.js.snap
  api/routes/apds/post.data.test.js
  api/seeds/development/01-hitech.js
  api/util/adminCheck.test.js
  common/schemas/contractorResources.js
  common/schemas/costAllocation.js
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/Activity.js
  web/src/pages/apd/activities/contractor-costs/ContractorResource/ContractorResourceForm.js
  web/src/pages/apd/activities/contractor-costs/ContractorResource/ContractorResourceReview.js
  web/src/pages/apd/activities/ffp/CostAllocateFFP.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
Due: api, common, web

updated snapshot
  api/routes/apds/files/__snapshots__/post.endpoint.js.snap
Due: none

NZ/4514 - APD name should be required in the new APD form (#4534)
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.test.js
Due: common, web

reworking schema
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
Due: common, web

add apd update field to overview for hitech and mmis types
  common/schemas/apdOverview.js
  common/schemas/index.js
  web/src/components/ApdUpdate.js
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/redux/actions/editApd/overview.js
Due: common, web

updated helptext for mmis state staff and other expenses
  web/src/i18n/locales/en/activities/expenses.yaml
  web/src/i18n/locales/en/activities/statePersonnel.yaml
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.js
Due: web

update private contractor help text
  web/src/i18n/locales/en/activities/contractorResources.yaml
  web/src/pages/apd/activities/contractor-costs/ContractorResources.js
  web/src/pages/apd/activities/contractor-costs/ContractorResources.test.js
  web/src/pages/apd/activities/contractor-costs/__snapshots__/ContractorResources.test.js.snap
Due: web

added e2e tests for MMIS Assurances and Compliance
  api/seeds/development/03-mmis.js
  api/seeds/development/04-mmisNoActivities.js
  api/seeds/test/03-akMMIS.js
  e2e/cypress/fixtures/hitech-assurances-compliance-test.json
  e2e/cypress/fixtures/mmis-assurances-compliance-test.json
  e2e/cypress/fixtures/mmis-data.json
  e2e/cypress/helpers/apd/assurances-and-compliance.js
  e2e/cypress/integration/02-apd/02-default-apd.cy.js
  e2e/cypress/integration/02-apd/03-apd-with-data.cy.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  e2e/cypress/integration/05-mmis/02-default-mmis-apd.cy.js
  e2e/cypress/integration/05-mmis/03-mmis-apd-with-data.cy.js
  e2e/cypress/page-objects/assurances-compliance-page.js
Due: e2e

updated linting and tests
  e2e/cypress/helpers/mmis/activity/default-activity.js
  web/src/pages/admin/state-admin/StateAdmin.test.js
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/Activity.js
  web/src/pages/apd/activities/activities-dashboard/Activity.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
Due: e2e, web

fixed linting error
  web/src/pages/admin/state-admin/StateAdmin.test.js
Due: none

update backend tests, add redux action test
  api/util/adminCheck.test.js
  common/schemas/apdOverview.js
  web/src/components/ApdUpdate.js
  web/src/components/ApdUpdate.test.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
  web/src/redux/actions/editApd/overview.test.js
Due: common, web

updated unit and snapshot tests
  web/src/pages/apd/activities/state-costs/NonPersonnelCosts.test.js
  web/src/pages/apd/activities/state-costs/StatePersonnel.test.js
  web/src/pages/apd/activities/state-costs/__snapshots__/NonPersonnelCosts.test.js.snap
  web/src/pages/apd/activities/state-costs/__snapshots__/StatePersonnel.test.js.snap
Due: none

HITECH validated
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
Due: common, web

updates to help text in cost allocation for MMIS apds
  web/src/i18n/locales/en/activities/costAllocate.yaml
  web/src/pages/apd/activities/cost-allocation/CostAllocation/CostAllocate.js
  web/src/pages/apd/activities/cost-allocation/CostAllocation/CostAllocate.test.js
Due: web

Path conditions:
  api: any of: api/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  common: any of: common/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  e2e: any of: e2e/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  web: any of: web/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
