Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

schema works
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: common, web

switch to using constant reference vs hardcoding apdType
  web/src/pages/apd/activities/contractor-costs/ContractorResources.test.js
Due: none

switch to using constant reference vs hardcoded apdType
  web/src/pages/apd/activities/cost-allocation/CostAllocation/CostAllocate.test.js
Due: none

revert model back to original to avoid a migration, align frontend to that model
  api/models/mmis.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
Due: api, web

can create each apd
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: common, web

add proptypes to hitch fields
  web/src/pages/apd/new/ApdNewHITECHFields.js
Due: web

add proptypes to mmis fields
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

add control and error proptypes
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

fix tests
  web/src/pages/apd/new/ApdNew.test.js
Due: none

add testing; update seed data
  api/seeds/development/01-hitech.js
  api/seeds/development/02-hitechNoActivities.js
  web/src/components/ApdUpdate.test.js
  web/src/redux/actions/editApd/overview.test.js
Due: none

update new APD schema
  common/schemas/apdNew.js
Due: common

update
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: common, web

fix test
  web/src/pages/apd/new/ApdNew.test.js
Due: none

update for lint
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

test update; resolve console warnings
  web/src/components/ApdUpdate.js
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/pages/apd/apd-overview/ApdOverview.test.js
Due: web

form context added to hitech fields
  common/schemas/apdNew.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: common, web

update mmis fields with form context
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

change language
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

cleaning up typos with regulations in seeds
  api/seeds/development/03-mmis.js
  api/seeds/development/04-mmisNoActivities.js
  api/seeds/test/03-akMMIS.js
Due: none

validation bug fixed
  web/src/pages/apd/new/ApdNew.js
Due: web

fix typo
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.test.js
  web/src/pages/apd/new/ApdNewHITECHFields.js
  web/src/pages/apd/new/ApdNewMMISFields.js
Due: web

add testing; fix test change
  api/util/adminCheck.test.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

started nav test
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

hyperlink now opens in a new tab
  web/src/i18n/locales/en/activities/outcomes.yaml
Due: none

hyperlink now opens in a new tab
  web/src/i18n/locales/en/activities/expenses.yaml
Due: none

add trim to activityOverview string validations
  common/schemas/activityOverview.js
Due: common

cypress testing refinement
  e2e/cypress/helpers/apd/apd-name.js
  e2e/cypress/helpers/apd/apd-overview.js
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  e2e/cypress/integration/02-apd/02-default-apd.cy.js
  e2e/cypress/integration/02-apd/03-apd-with-data.cy.js
  e2e/cypress/integration/02-apd/04-apd-budget-checks.cy.js
  e2e/cypress/integration/03-admin/04-admin-check.cy.js
  e2e/cypress/integration/04-bug-tests/01-state-staff-bugs.cy.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  e2e/cypress/integration/05-mmis/03-mmis-apd-with-data.cy.js
Due: e2e

fix enable mmis bug
  web/src/pages/apd/new/ApdNew.js
Due: web

lint correction
  web/src/pages/apd/new/ApdNew.test.js
Due: none

added e2e tests
  e2e/cypress/fixtures/mmis-basics-budget.json
  e2e/cypress/fixtures/mmis-basics-table-data.json
  e2e/cypress/fixtures/mmis-basics.json
  e2e/cypress/helpers/apd/activity/add-MMIS-activity.js
  e2e/cypress/helpers/mmis/activity/default-activity.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  e2e/cypress/integration/05-mmis/03-mmis-apd-with-data.cy.js
  e2e/cypress/page-objects/budget-page.js
  e2e/cypress/page-objects/fill-out-activity-page.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
Due: e2e, web

add trim() to all string validations
  common/schemas/apdNew.js
  common/schemas/apdOverview.js
  common/schemas/assurancesAndCompliance.js
  common/schemas/combined.js
  common/schemas/conditionsForEnhancedFunding.js
  common/schemas/expenses.js
  common/schemas/index.js
  common/schemas/keyStatePersonnel.js
  common/schemas/milestones.js
  common/schemas/nameAndFundingSource.js
  common/schemas/outcomeMetric.js
  common/schemas/securityPlanning.js
  common/schemas/statePersonnel.js
  common/schemas/statePrioritiesAndScope.js
  web/src/pages/apd/key-state-personnel/ApdStateProfileMedicaidOffice.js
  yarn.lock
Due: common, web

fixed lint issue
  web/src/pages/apd/activities/ffp/CostAllocateFFP.js
Due: web

add regex to match on whitespace in rich text editor fields
  common/schemas/apdOverview.js
Due: common

update apdType references to use constant from common
  web/src/fixtures/mo-hitech-apd.js
  web/src/pages/apd/activities/activities-dashboard/Activity.test.js
  web/src/pages/apd/key-state-personnel/ApdStateKeyPersonnel.test.js
  web/src/pages/apd/proposed-budget/BudgetSummary.js
  web/src/pages/apd/proposed-budget/BudgetSummary.test.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.test.js
  web/src/pages/apd/proposed-budget/ProposedBudget.js
  web/src/pages/apd/proposed-budget/ProposedBudget.test.js
  web/src/redux/selectors/activities.selectors.js
  web/src/redux/selectors/activities.selectors.test.js
Due: web

styling display updates
  web/src/components/ApdUpdate.js
  web/src/components/Instruction.js
  web/src/i18n/locales/en/apd/apd.yaml
  web/src/pages/apd/apd-overview/ApdOverview.js
  web/src/pages/apd/apd-overview/ApdOverviewMMISFields.js
  web/src/styles/scss/utilities.scss
Due: web

add test for addition to Instruction component
  web/src/components/Instruction.js
  web/src/components/Instruction.test.js
Due: web

update snapshots for new Instruction prop
  web/src/components/__snapshots__/Section.test.js.snap
  web/src/pages/apd/activities/state-costs/__snapshots__/NonPersonnelCosts.test.js.snap
  web/src/pages/apd/activities/state-costs/__snapshots__/StatePersonnel.test.js.snap
  web/src/pages/apd/proposed-budget/__snapshots__/CombinedActivityCosts.test.js.snap
Due: none

progress on tests
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

lint fix
  web/src/components/Instruction.test.js
Due: none

dmirano/4513-activities-dashboard-help-text (#4535)
  web/src/i18n/locales/en/activities/activities.yaml
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.js
  web/src/pages/apd/activities/activities-dashboard/ActivitiesDashboard.test.js
Due: web

Path conditions:
  api: any of: api/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  common: any of: common/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  e2e: any of: e2e/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
  web: any of: web/, but not: **/node_modules/**, **/__snapshots__/**, web/**/*.story.js, web/**/*.stories.js, web/**/*.test.js, web/**/*.cy.js, web/src/shared/**, web/src/fixtures/**, web/src/i18n/**, web/src/lazy/**, web/src/shared/**, web/src/static/**, web/src/file-loader.js, web/src/app.dev.js, web/src/app.js, web/src/constants.js, web/src/components/EnableCookies.js, web/src/util/analytics.js, web/src/util/oktaAuth.js, api/**/*.test.js, api/**/*.endpoint.js, api/**/index.js, api/**/shared.js, api/**/migrations/**, api/**/mongo-migrations/**, api/**/openAPI.js, api/**/schemas/**, api/**/seeds/**, api/**/test-data/*, api/audit.js, api/auth/mockedOktaAuth.js, api/db/knex.js, api/db/mongodb.js, api/seeds/development/apds.js, _templates/**, .circleci/**, .github/**, bin/**, documentation/**, owasp/**, packer/**, postman/**, terraform/**
