Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  behavior: default
  layout: 'reach,diff,flags,files,footer'
  require_changes: false
  require_base: yes
  require_head: yes
  show_carryforward_flags: true

github_checks:
  annotations: true

coverage:
  precision: 2
  round: down
  range: '70.0...100.0'
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      default:
        target: 60% #overall project/ repo coverage
      api:
        target: 75%
        flags:
          - api
      common:
        target: 74%
        flags:
          - common
      web:
        target: 74%
        flags:
          - web

flags:
  api:
    paths: #note, accepts globs, not regexes
      - api/
    carryforward: true
  common:
    paths:
      - common/
    carryforward: true
  e2e:
    paths:
      - e2e/
    carryforward: true
  web:
    paths:
      - web/
    carryforward: true
    # If no Carryfoward flag specified in YAML, the
    # default configuration is false.

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - '**/node_modules/**'
  - '**/__snapshots__/**'
  - 'web/**/*.story.js'
  - 'web/**/*.stories.js'
  - 'web/**/*.test.js'
  - 'web/**/*.cy.js'
  - 'web/src/shared/**'
  - 'web/src/fixtures/**'
  - 'web/src/i18n/**'
  - 'web/src/lazy/**'
  - 'web/src/shared/**'
  - 'web/src/static/**'
  - 'web/src/file-loader.js'
  - 'web/src/app.dev.js'
  - 'web/src/app.js'
  - 'web/src/constants.js'
  - 'web/src/components/EnableCookies.js'
  - 'web/src/util/analytics.js'
  - 'web/src/util/oktaAuth.js'
  - 'api/**/*.test.js'
  - 'api/**/*.endpoint.js'
  - 'api/**/index.js'
  - 'api/**/shared.js'
  - 'api/**/migrations/**'
  - 'api/**/mongo-migrations/**'
  - 'api/**/openAPI.js'
  - 'api/**/schemas/**'
  - 'api/**/seeds/**'
  - 'api/**/test-data/*'
  - 'api/audit.js'
  - 'api/auth/mockedOktaAuth.js'
  - 'api/db/knex.js'
  - 'api/db/mongodb.js'
  - 'api/seeds/development/apds.js'
  - '_templates/**'
  - '.circleci/**'
  - '.github/**'
  - 'bin/**'
  - 'documentation/**'
  - 'owasp/**'
  - 'packer/**'
  - 'postman/**'
  - 'terraform/**'

update backend unit tests
  api/util/adminCheck.test.js
Due: none

fix small bug
  common/schemas/apdNew.js
  web/src/pages/apd/new/HitechUpdateStatus.js
  web/src/pages/apd/new/MmsiUpdateStatus.js
Due: common, web

fix linting
  web/src/components/MedicaidBusinessAreas.js
Due: web

update refactor
  web/src/components/MedicaidBusinessAreas.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/MmsiUpdateStatus.js
Due: web

started mmis admin check test
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

change mmisupdatestatus name
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/MmisUpdateStatus.js
Due: web

fix name issue
  web/src/pages/apd/new/ApdNew.js
Due: web

small refactor
  web/src/pages/apd/new/ApdNew.js
Due: web

cleanup all table stories, fix broken ones
  web/src/pages/apd/activities/cost-allocation/CostAllocateFFPQuarterly.stories.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.stories.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTable.stories.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMIS.stories.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotal.stories.js
  web/src/pages/apd/proposed-budget/BudgetSummary.stories.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.stories.js
  web/src/pages/apd/proposed-budget/IncentivePayments.stories.js
  web/src/pages/apd/proposed-budget/InventivePayments.stories.js
  web/src/pages/apd/proposed-budget/QuarterlyBudgetSummary.stories.js
  web/src/pages/apd/proposed-budget/SummaryActivityBreakdown.js
  web/src/pages/apd/proposed-budget/SummaryActivityBreakdown.stories.js
  web/src/pages/apd/schedule-summary/ScheduleSummary.stories.js
Due: web

update yarn
  yarn.lock
Due: none

yarn lock update
  yarn.lock
Due: none

added diagram
  documentation/sequence-diagram-auto-saving.mmd
  documentation/sequence-diagram-auto-saving.png
Due: none

added new key state personnel values to the add and remove year methods
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
Due: web

updated yarn.lock
  yarn.lock
Due: none

update yarn lock
  yarn.lock
Due: none

add storybook for ApdNew
  web/.storybook/main.js
  web/.storybook/preview.js
  web/package.json
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.stories.js
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
  yarn.lock
Due: web

update mmis schemas
  common/schemas/securityPlanning.js
  common/schemas/statePrioritiesAndScope.js
  yarn.lock
Due: common

add MedicaidBusinessAreas test
  web/src/components/MedicaidBusinessAreas.js
  web/src/components/MedicaidBusinessAreas.test.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.test.js
Due: web

update mmis activityOverview schemas
  common/schemas/activityOverview.js
Due: common

added glob to web package
  web/package.json
  yarn.lock
Due: web

updated yaml-test
  web/package.json
  web/yaml-tests.js
  yarn.lock
Due: web

update yaml test
  common/utils/constants.js
  web/src/components/MedicaidBusinessAreas.stories.js
  web/src/components/MedicaidBusinessAreas.test.js
  web/yaml-tests.js
Due: common, web

remove story for business areas
  web/src/components/MedicaidBusinessAreas.stories.js
Due: none

linting fix
  web/src/components/MedicaidBusinessAreas.test.js
  web/src/pages/apd/new/MmisUpdateStatus.js
Due: web

fixed web test failure
  web/src/redux/reducers/__snapshots__/patch.test.js.snap
  web/src/redux/reducers/patch.test.js
Due: none

update apdNew storybook
  web/src/pages/apd/new/ApdNew.stories.js
Due: none

fic mmis basics test
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/src/pages/apd/new/ApdNew.js
Due: e2e, web

swap out sr-only class for design system utility class, update related tests
  web/src/pages/apd/activities/cost-allocation/CostAllocateFFPQuarterly.js
  web/src/pages/apd/activities/cost-allocation/CostAllocation/OtherFunding.js
  web/src/pages/apd/activities/cost-allocation/CostAllocationRows.js
  web/src/pages/apd/activities/cost-allocation/__snapshots__/CostAllocationRows.test.js.snap
  web/src/pages/apd/activities/ffp/FedStateSelector.js
  web/src/pages/apd/activities/ffp/MatchRateSelector.js
  web/src/pages/apd/activities/ffp/__snapshots__/CostAllocateFFP.test.js.snap
  web/src/pages/apd/proposed-budget/IncentivePayments.js
Due: web

only show Hitech budget when Hitech APD
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
Due: web

only show MMIS budget when MMIS apd
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
Due: web

create DollarCell component
  web/src/components/DollarCell.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
Due: web

fix yaml tests
  web/yaml-tests.js
Due: web

update executivesummary
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryReadOnly.js
Due: web

remove commented out code
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

remove apd new snap shot
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
Due: none

update snapshot
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
Due: none

progress
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/HitechExecutiveSummary.js
  web/src/pages/apd/executive-summary/MmisExecutiveSummary.js
Due: web

separate executive summaries
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/ExecutiveSummaryBudget.test.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/HitechExecutiveSummary.js
  web/src/pages/apd/executive-summary/MmisBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisExecutiveSummary.js
Due: web

separate activities by apd type
  web/src/pages/apd/executive-summary/ExecutiveSummary.js
  web/src/pages/apd/executive-summary/HitechActivitySummary.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
  web/src/pages/apd/executive-summary/MmisActivitySummary.js
Due: web

updated the migration template so that it matches the new es6 style
  api/knexfile.js
  api/migrations-template.js
Due: api
