Repository Enterprise-CMCS/eAPD: changes, and which Codecov flags are due for each by the changed paths.
All: api, common, e2e, web

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  behavior: default
  layout: 'reach,diff,flags,files,footer'
  require_changes: false
  require_base: yes
  require_head: yes
  show_carryforward_flags: true

github_checks:
  annotations: true

coverage:
  precision: 2
  round: down
  range: '70.0...100.0'
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      default:
        target: 60% #overall project/ repo coverage
      api:
        target: 75%
        flags:
          - api
      common:
        target: 74%
        flags:
          - common
      web:
        target: 74%
        flags:
          - web

flags:
  api:
    paths: #note, accepts globs, not regexes
      - api/
    carryforward: true
  common:
    paths:
      - common/
    carryforward: true
  e2e:
    paths:
      - e2e/
    carryforward: true
  web:
    paths:
      - web/
    carryforward: true
    # If no Carryfoward flag specified in YAML, the
    # default configuration is false.

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - '**/node_modules/**'
  - '**/__snapshots__/**'
  - 'web/**/*.story.js'
  - 'web/**/*.stories.js'
  - 'web/**/*.test.js'
  - 'web/**/*.cy.js'
  - 'web/src/shared/**'
  - 'web/src/fixtures/**'
  - 'web/src/i18n/**'
  - 'web/src/lazy/**'
  - 'web/src/shared/**'
  - 'web/src/static/**'
  - 'web/src/file-loader.js'
  - 'web/src/app.dev.js'
  - 'web/src/app.js'
  - 'web/src/constants.js'
  - 'web/src/components/EnableCookies.js'
  - 'web/src/util/analytics.js'
  - 'web/src/util/oktaAuth.js'
  - 'api/**/*.test.js'
  - 'api/**/*.endpoint.js'
  - 'api/**/index.js'
  - 'api/**/shared.js'
  - 'api/**/migrations/**'
  - 'api/**/mongo-migrations/**'
  - 'api/**/openAPI.js'
  - 'api/**/schemas/**'
  - 'api/**/seeds/**'
  - 'api/**/test-data/*'
  - 'api/audit.js'
  - 'api/auth/mockedOktaAuth.js'
  - 'api/db/knex.js'
  - 'api/db/mongodb.js'
  - 'api/seeds/development/apds.js'
  - '_templates/**'
  - '.circleci/**'
  - '.github/**'
  - 'bin/**'
  - 'documentation/**'
  - 'owasp/**'
  - 'packer/**'
  - 'postman/**'
  - 'terraform/**'

updated Key State Personnel read-only to match the Figma updates
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.stories.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.test.js
Due: web

removed update key state personnel from this PR
  web/src/pages/apd/ApdReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.stories.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.test.js
Due: web

removed knex update
  api/package.json
  yarn.lock
Due: api

update to tests
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.test.js
Due: web

fixed audit allowlist
  audit-ci.json
Due: none

Nz/4502 [Bug] Create APD button not being enabled when switching from MMIS to HITECH (#4564)
  api/util/adminCheck.test.js
  common/schemas/apdNew.js
  common/utils/constants.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
  web/.storybook/main.js
  web/.storybook/preview.js
  web/package.json
  web/src/components/MedicaidBusinessAreas.js
  web/src/components/MedicaidBusinessAreas.test.js
  web/src/pages/apd/new/ApdNew.js
  web/src/pages/apd/new/ApdNew.stories.js
  web/src/pages/apd/new/ApdNew.test.js
  web/src/pages/apd/new/HitechUpdateStatus.js
  web/src/pages/apd/new/MmisUpdateStatus.js
  web/src/pages/apd/new/__snapshots__/ApdNew.test.js.snap
  web/src/redux/reducers/apd.js
  yarn.lock
Due: common, e2e, web

added front end test for new mmis tables
  api/seeds/development/03-mmis.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.test.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableTotalsMMIS.test.js
  web/src/pages/apd/previous-activities/__snapshots__/ApdPreviousActivityTableMMISNew.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/ApdPreviousActivityTableTotalsMMIS.test.js.snap
Due: web

added cypress test
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

update test
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  e2e/cypress/page-objects/executive-summary-page.js
  web/src/layout/nav/NavLink.test.js
Due: e2e

updates to fix e2e tests
  e2e/cypress/helpers/apd/key-state-personnel.js
  web/src/pages/apd/key-state-personnel/KeyStatePersonnelReadOnly.js
  yarn.lock
Due: e2e, web

Fixed issue with adding and removing years breaking Key State Personnel (#4573)
  documentation/sequence-diagram-auto-saving.mmd
  documentation/sequence-diagram-auto-saving.png
  web/src/redux/reducers/__snapshots__/patch.test.js.snap
  web/src/redux/reducers/apd.js
  web/src/redux/reducers/apd.test.js
  web/src/redux/reducers/patch.test.js
Due: web

update test
  e2e/cypress/helpers/apd/executive-summary.js
Due: e2e

updated backend tests
  api/routes/apds/post.data.test.js
  api/routes/apds/post.test.js
Due: none

updated knex to 2.4.0 (#4585)
  api/package.json
  audit-ci.json
  yarn.lock
Due: api

summary budget table updates
  web/src/pages/apd/proposed-budget/BudgetSummary.js
  web/src/pages/apd/proposed-budget/BudgetSummary.stories.js
  web/src/styles/scss/tables.scss
  yarn.lock
Due: web

updated file names
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTableMMISNew.test.js
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityMmis.js
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityMmis.test.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
Due: web

updated file names again
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTable.js
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTable.test.js
Due: web

updated file paths
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityMmis.test.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
Due: web

for HITECH APDs, merged the hitech tables component and the mmis tables component together
  web/src/pages/apd/previous-activities/ApdPreviousActivityTable.js
  web/src/pages/apd/previous-activities/ApdPreviousActivityTable.test.js
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTable.js
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTable.test.js
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTable.js
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTable.test.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
  web/src/redux/actions/editApd/previousActivities.js
  web/src/redux/actions/editApd/previousActivities.test.js
Due: web

updated snapshots
  web/src/pages/apd/previous-activities/__snapshots__/ApdPreviousActivityTable.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/ApdPreviousActivityTableMMISOld.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/HitechApdPreviousActivityTable.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/MmisApdPreviousActivityTable.test.js.snap
Due: none

update to use APD_TYPE constants, update tests and snapshots
  web/src/pages/apd/proposed-budget/BudgetSummary.js
  web/src/pages/apd/proposed-budget/CombinedActivityCosts.js
  web/src/pages/apd/proposed-budget/__snapshots__/BudgetSummary.test.js.snap
Due: web

added plural to file name of prev activity tables
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.test.js
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTables.js
  web/src/pages/apd/previous-activities/MmisApdPreviousActivityTables.test.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
Due: web

updated prev act totals table file name
  web/src/pages/apd/previous-activities/HitechPreviousActivityTotalsTable.js
  web/src/pages/apd/previous-activities/HitechPreviousActivityTotalsTable.test.js
  web/src/pages/apd/previous-activities/MmisPreviousActivityTotalsTable.js
  web/src/pages/apd/previous-activities/MmisPreviousActivityTotalsTable.test.js
  web/src/pages/apd/previous-activities/PreviousActivities.js
  web/src/pages/apd/previous-activities/PreviousActivitiesReadOnly.js
Due: web

playing around with some codecov
  .circleci/config.yml
  .github/workflows/storybook.yml
  common/package.json
  common/schemas/costAllocation.test.js
Due: common

fixed hitech prev activities
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.js
  web/src/redux/actions/editApd/previousActivities.js
  web/src/redux/selectors/apd.selectors.js
Due: web

updated snapshots
  web/src/pages/apd/previous-activities/__snapshots__/HitechApdPreviousActivityTables.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/HitechPreviousActivityTotalsTable.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/MmisApdPreviousActivityTables.test.js.snap
  web/src/pages/apd/previous-activities/__snapshots__/MmisPreviousActivityTotalsTable.test.js.snap
  web/src/redux/actions/editApd/previousActivities.test.js
Due: none

update cypress to align to new table designs
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  e2e/cypress/page-objects/activity-schedule-page.js
  e2e/cypress/page-objects/budget-page.js
  yarn.lock
Due: e2e

test progress
  e2e/cypress/helpers/apd/apd-navigation.js
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  web/src/i18n/locales/en/executiveSummary.yaml
  web/src/redux/reducers/nav.items.js
Due: e2e, web

update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

updated front end tests
  web/src/pages/apd/previous-activities/HitechApdPreviousActivityTables.test.js
  web/src/pages/apd/previous-activities/MmisPreviousActivityTotalsTable.test.js
  web/src/pages/apd/previous-activities/__snapshots__/MmisPreviousActivityTotalsTable.test.js.snap
  web/src/redux/selectors/apd.selectors.test.js
Due: none

update more cypress tests
  e2e/cypress/fixtures/proposed-budget-test.json
  e2e/cypress/helpers/apd/activity-schedule-summary.js
Due: e2e

more cypress updates
  e2e/cypress/fixtures/proposed-budget-test.json
  e2e/cypress/helpers/apd/activity-schedule-summary.js
Due: e2e

add empty state for milestones table, update cypress tests
  e2e/cypress/helpers/apd/activity-schedule-summary.js
  web/src/pages/apd/proposed-budget/SummaryActivityBreakdown.js
  web/src/pages/apd/schedule-summary/ScheduleSummary.js
Due: e2e, web

update executive summary test
  e2e/cypress/helpers/apd/apd-navigation.js
  e2e/cypress/integration/02-apd/01-apd-basics.cy.js
  web/src/i18n/locales/en/executiveSummary.yaml
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
  web/src/redux/reducers/nav.items.js
Due: e2e, web

revert previous update
  web/src/pages/apd/schedule-summary/ScheduleSummary.js
Due: web

cypress updates
  e2e/cypress/fixtures/proposed-budget-test.json
  e2e/cypress/helpers/apd/activity-schedule-summary.js
Due: e2e

fix test
  e2e/cypress/helpers/apd/apd-navigation.js
Due: e2e

update cypress tests
  e2e/cypress/helpers/mmis/mmis-navigation.js
  e2e/cypress/integration/05-mmis/01-mmis-basics.cy.js
Due: e2e

update hitech budet summary
  web/src/pages/apd/executive-summary/ExecutiveSummary.test.js
  web/src/pages/apd/executive-summary/HitechBudgetSummary.js
Due: web

update cypress fixtures
  e2e/cypress/fixtures/budget-checks-test.json
Due: e2e
